#topcart {
    width: 100%;
    height: 80px;
    /* border: black 1px solid; */
    display: flex;
    justify-content: space-between;

}
#address>button{
    border-color: red;
}
#cartphoto {
    height: 100%;
}

#selectop {
    padding-top: 30px;
    padding-right: 40px;

    /* border: 1px solid white; */
}

#cartbody {
    width: 100%;
    height: 1000px;
    /* border: 1px solid black; */
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
}

#cartbodyleft {
    width: 65%;
    /* border: 1px solid black; */
}

#cartbodyright {
    width: 35%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    
}

#cartbodyright>#sbiimg {
    width: 100%;
}

#offerimg {
    background-color: white;
    margin-top: 20px;
    height: 40px;
    width: 80%;
    padding-left: 20px;
}

#Accountoption {
    border: none;
    outline: none;
}

#shopping {
    display: flex;
    color: red;
}

#address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid rgb(187, 168, 168); */
    width: 90%;
    margin: auto;
    
}

#add>input {
    border: none;
    height: 60%;
    margin-top: 15px;
    margin-left: 10px;
    background-color: rgb(255, 245, 245);

}

#address>button {
    margin-right: 40px;
    width: 100px;
    background-color: white;
    color: red;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    border-style: solid red 1px;
}

#add {
    display: flex;
}
#itemsset{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    margin-top: 20px;
    justify-content: space-between;
}
#imgitems{
    width: 200px;
    height: 200px;
    padding-left: 2%;
    /* border: black 1px solid; */
    margin-left: 50px;
}

#div2{
    margin-left: 20px;
    font-size: 20px;
}
#shopping_no{
    color: blue;
}
#couponid{
   
    margin-top: 50px;
    background-color: white;
    padding-left: 60px;
    padding-bottom: 30px;
}
#skpk>input{
   border-left: none;
   border-right: none;
   border-top: none;
   width: 250px;
   border-bottom: 1px solid red;
   font-size: 17px;
}
#sspp{
font-size: 17px;
padding-right: 20px;
}
#skpk>button{
    padding: 5px 20px;
    color: red;
    border-color: red;
    margin-left: 30px;
}
#paymentid>div{
display: flex;
justify-content: space-between;
padding-left: 30px;
padding-right: 80px;

}
#bttmadd{
    width: 200px;
    height: 50px;
    border: 1px solid red;
    margin: auto;
    font-size: 15px;
    margin-top: 20px;
    color: red;
}
#btrem{
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px 40px;
    font-weight: bold;
    background-color: white;
    border: none;
}