@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500&display=swap');

#container {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a{
 text-decoration: none;
 color: #575757;
}
li{
    text-decoration: none;
    list-style: none;
}
ul{
    text-decoration: none;
    list-style: none;
}
#topNav{
    
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
   
}
#topNav>div{
   
}
.logo{
    width: 12%;


}

#topNav>div>img{
    height: 75%;
    width: auto;
    margin-top: 10px;
    margin-left: 40px;

}
.searchBar{
    border: 1px solid grey;
   width: 25%;
   height: 55%;
   margin-top: 15px;
   border-radius: 5px;
   display: flex;
   margin-left: 15px;
   border: transparent;
   
}
.searchBar>input{
    width: 80%;
   
    font-size: 13px;
    margin-left: 5px;
    border:1px solid white;
    outline: none;

}
.searchBar>span{
    font-size: 12px;
    color: blue;
    margin-left: 5px;
    font-weight: bold;
    margin-top: 5px;
}
#cross{
    margin-left: 8px;
 visibility: hidden; 
}
.searchBar:hover{
    border: 1px solid red;
}
.searchBar:hover>#cross{
    
    visibility: visible;
}
.Iconsearch{
    width: 15px;
    height: 20px;
    margin-top: 5px;
    margin-left:15px;

  
}
.manuNav{
    width: 60%;
    display: flex;
    margin-left: 60px;
    
}
.manuNav>div{
    font-size: 11px;
    margin-top: 17px;
    height: 30%;
    border-right: 1.5px solid gray;
    padding-right: 8px;
    font-weight: 600;
    margin-left: 5px;
    color: #575757;
    

}
.manuNav>div>a{
    color: #575757;
    
}
#carticon>a{
    margin-left: 5px;
}
.location{
    display: flex;
    justify-content: space-between;
}
.Iconlocation{
    height: 25px;
    width: 25px;
}
.Iconp{
    width: 40px;
    height: 40px;
    margin-top: -10px;
}
.icon{
    width: 15px;
    height: 15px;
   
}
#cart{
    font-size: 12px;
    
}
#carticon{
    border: none;
    display: flex;
}

 /* megabar */

#megabar{
    width: 100%;
    height: 60px;
   
    background-color: #ffd91c;
}
#megabar>nav>ul{
    display: flex;
    margin-top: 10px;
    
    

}
li{
    font-size: 14px;
    font-weight: 600;
    /* margin-left: 20px; */
    
    color: #575757;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
ul>li:nth-child(1){
    margin-left: 20px;
}
ul>li:nth-child(2){
    margin-left: 15px;
}
#rotate{
    transform: rotate(90deg);
    margin-left: 7px;
    display: block;
}
li:hover{
    background-color: white;
}

.megamenu{
    position: absolute;
    top: 122px;
    left: 0;
    width: 99%;
    margin: auto;
    height: 550px;
    background-color: white;
    transition: all 0.4s ease;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px #888;
    display: none;
    margin-left: 10px;
  
    
  
}
.inner-megamenu{
    width: auto;
    margin-left: 10px;
    text-align: left;
    padding-right: 20px;
    height:550px; 
    background-color: white;

   
}
.nav-bar ul li:hover .megamenu{
    display: flex;
    z-index: 1;
}
.inner-megamenu>img{
    width: 300px;
    height: 300px;
}
.nav-bar ul li:nth-child(1):hover .megamenu{
    position: absolute;
    top: 61px;
    left: 0;
}
.inner-megamenu>p:nth-child(1){
    margin-bottom: 20px;
    margin-top: 7px;
}
.megamenu:last-child{
    overflow-y: scroll;
}
#head{
    margin-top: 7px;
    margin-bottom: 10px;
    color: #050c12;
}
.inner-megamenu>p>a{
    color: gray;
    font-size: 12px;
}
.inner-megamenu>p>a:hover{
    color:#575757 ;
}
#img1{
    width: 60px;
    height: 20px;
    margin-top: 20px;
}
#img{
    margin-top: 0;
    height: 58px;
    width: 80px;
    margin-left: 10px;
} 