#container{
    width: 78%;
    height: 1000px;
    /* border: 1px solid red; */
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: white;
    display: flex;
}
#bx1{
    width: 250px;
    height: 100%;
    /* border: 1px solid green; */
}
#bx2{
    width: 900px;
    height: 100%;
    border: 1px solid orange;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 350px 350px 350px;
    grid-gap: 10px;
    /* background: transparent; */
}
#tit{
    font-family: Arial;
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#gd{
    border: 1px solid blue;
}
#bx0{
    width: 900px;
    height: 100%;
    /* border: 1px solid blue; */
    margin-left: 20px;
    /* display: flex; */
    /* display: grid; */
    /* grid-template-columns: 270px 270px 270px;
    grid-template-rows: 350px 350px 350px;
    grid-gap: 10px; */
}
#bx3{
    width: 850px;
    /* height: 100%; */
    /* border: 1px solid gray; */
    display: grid; 
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 440px 440px;
    grid-gap: 20px;
}
#bx3>div>img{
    width: 100%;
    height: 70%;
}
/* #bx3>div{
    border: 1px solid red;
} */
#bx3>div>p{
  /* margin-left: 10px; */
  margin-right: 10px;
  font-family: Arial - 400;
  font-size: 15px;
  font-weight: 400;
}
/* #bx3>div>div{
    justify-content: space-between;
} */
#bx3>div>div>button{
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    font-family:Arial - 400;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
#clr{
    font-family: Arial;
    font-weight: 200;
    font-size: 15px;
    margin-right: 10px;
}
#clr:hover{
    cursor: pointer;
    text-decoration: underline;
}
#prd{
    margin-right: 650px;
    font-size: 12px;
    margin-top: 6px;
}
#t{
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
#t1{
    /* font-family: Arial;
    
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
   color: #575757;
   background-color: #f4f4f4; */

   width: 95%;
   height: 40px;
   border: 1px solid #f4f4f4;
   margin-top: 10px;
   margin-left: 10px;
   background-color: #f4f4f4;
}
#t1>p{
    font-family: Arial;
    font-weight: 700;
    font-size: 14px;
    color: #575757;
    cursor: pointer;
}
#btt{
    width: 93%;
    /* height: 120px; */
    /* border: 1px solid rebeccapurple; */
    margin-top: 10px;
    margin-left: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #575757;
    font-size: 12px;
    cursor: pointer;
}
#btt>hr{
    border-top: 1px dotted ;
}
